<button type="button" routerLink="/html"> html</button>

<div class="main">
  <div class="row1">Frontend Developer</div>

  <h1 class="p-4">Class & ID</h1>
  <p class="p-4 text-green text-maroon" style="font-size: 20px">
    Lorem ipsum dolor sit amex consectetur adipisicing elit. Dolorum, minima
    magnam! Veniam obcaecati fugiat mollitia sint ipsum nam repudiandae atque
    sit animi dolore placeat eos omnis cum dolores, itaque dignissimos.
  </p>
</div>

<div class="back">
  <div class="row">Backend Developer</div>
</div>

<body>
  <h1>The transition Property</h1>

  <p>Hover over the div element below, to see the transition effect:</p>
</body>

