<button type="button" routerLink="/css"> Css</button>
  <body>
    <h2><mark>TAGS</mark></h2>
    <h1>H1</h1>
    <h2>H2</h2>
    <h3>H3</h3>
    <h4>H4</h4>
    <h5>H5</h5>
    <h6>H6</h6>

    <p>PARAGRAPH</p>

    <b>BOLD TAG</b>
    <br />
    <br />

    <strong>STRONG TAG</strong>
    <br />
    <br />

    <del>DELETE TAG</del>
    <br /><br />

    <i>ITALIC </i>
    <br /><br />

    <u>UNDERLINE </u>
    <br /><br />

    <mark>COLOR</mark>
    <br />

    <h1><mark>ORDERED LIST</mark></h1>

    <ol>
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ol>
    <br />

    <ol type="a">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ol>
    <br />
    <ol type="i">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ol>
    <br />

    <h2><mark>UNORDERED LIST</mark></h2>

    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ul>
    <br />

    <ul type="circle">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ul>
    <br />

    <ul type="square">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ul>
    <br />

    <ul type="none">
      <li>HTML</li>
      <li>CSS</li>
      <li>JAVASCRIPT</li>
    </ul>
    <br />

    <h3><mark>NESTED LIST</mark></h3>

    <ul>
      <li>
        FRONTEND
        <ol>
          <li>HTML</li>
          <li>CSS</li>
        </ol>
      </li>
      <br />
      <li>
        BACKEND
        <ul>
          <li>NODEJS</li>
          <li>MANGODB</li>
        </ul>
      </li>
    </ul>
    <br />

    <h3><mark>IMAGE TAG</mark></h3>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRsN0KEYsBlgd4W6URPoadX8t5HoI5UFjlMsA&usqp=CAU"
      title="html"
      alt=""
      height="300px"
      width="500px"
    />
    <img
      src="https://encryptede-tbn0.gstatic.com/images?q=tbn:ANd9GcRsN0KEYsBlgd4W6URPoadX8t5HoI5UFjlMsA&usqp=CAU"
      title="html"
      alt="alternative"
      height="300px"
      width="500px"
    />
    <br />

    <h3><mark>ANCHOR TAG</mark></h3>
    <a href=" https://www.w3schools.com/html/" target="_blank">
      <h5>PAGE LINK</h5></a
    >
    <br />

    <h4><mark>TABLE </mark></h4>
    <table border="5px" [cellPadding]="5" [cellSpacing]="5">
      <thead>
        <tr>
          <th>COURSE</th>
          <th>COURSE</th>
          <th>COURSE</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>HTML</td>
          <td>CSS</td>
          <td>JAVASCRIPT</td>
        </tr>
      </tbody>
    </table>
    <br />
    <br />

    <h3><mark>FORM INPUT TYPE</mark></h3>
    <h3><mark>FORM ATTRIBUTES</mark></h3>

    <form action="form">
      NAME <input type="name" name="name"placeholder="enter your name" required/>
      <br />
      Email <input type="email" name="email" placeholder="@gmail.com" autofocus/>
      <br />
      Password <input type="password" name="password" />
      <br />
      Checkbox <input type="checkbox" name="checkbox" />
      <br />
      Textarea <textarea name="textarea" cols="5" rows="1"></textarea>
      <br />
      Search <input type="search" placeholder="asdfgh" readonly/>
      <br />
      Number <input type="number" placeholder="123456" disabled />
      <br />
      Number <input type="number" placeholder="min max attribute" min="5" max="10" />
      <br> 
      Date <input type="date" />
      <br />
      Week <input type="week" />
      <br />
      Month <input type="month" />
      <br />
      Time <input type="time" />
      <br />
      Color <input type="color" />
      <br />
      File <input type="file" />
      <br />
      Url <input type="url" />
      <br />

      Gender : Male <input type="radio" name="gender" /> Female<input
        type="radio"
        name="gender"/>
      <br />
      Range <input type="range" name="range" />
      <br />
      Select
      <select>
        <option value="select">Select</option>
        <option value="html">html</option>
        <option value="css">css</option>
        <option value="javaScript">javaScript</option>
      </select>
      <br />

      <fieldset>
        <legend>Calender</legend>
        Date <input type="datetime-local"/>
      </fieldset>
      Reset <input type="reset" />
      <br />
      submit <input type="submit" />
      <br />
      <br>
    </form>
  </body>
